[Unit]
Description=sync google drive with rclone every 5 minutes.

[Service]
ExecStart=%h/Brainiverse/Brainiverse/Toolkit/Scripts/rclone-sync/sync.sh

