[Unit]
Description=sync google drive with rclone every 5 minutes.

[Service]
ExecStart=%h/Brainiverse/Brainiverse/Atlas/Utilities/Scripts/rclone-sync/sync.sh
